body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 0;
}

.pushButton {
    background-color: rgb(233, 205, 50);
    border: none;
    color: white;
    width: 150px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.htmlButton {
    background-color: rgb(233, 205, 50);
    border: none;
    color: white;
    width: auto;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.linkButton {
    background-color: rgb(97, 143, 175);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

#upload label {
    background-color: rgb(233, 205, 50);
    border: none;
    color: white;
    width: 150px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* The container */
.radioSelect {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16x;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radioSelect input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioSelect:hover input~.checkmark {
    background-color: #ccc;
}


.radioSelect input:checked~.checkmark {
    background-color: rgb(97, 143, 175);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioSelect input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioSelect .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#controlPanel {
    display: flex;
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
    width: auto;
}

.editorButtons {
    border: none;
    display: inline-block;
    font-size: 12px;
}

.trumbowyg-editor-box {
    background-color: #fff;
}

.trumbowyg-textarea {
    background-color: #000;
    color: #fff;
}

#info {
    display: flex;
    background-color: #fff;
    border: 5px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: auto;
}

#toolButtons {
    display:  inline-block;
    width: 500px;

}